---
import '../styles/global.css';
import Head from '@components/common/Head.astro';
import { CustomCursor } from '../components/visual/CustomCursor';
import Header from '../components/header/Header';
import Footer from '../components/footer/Footer';

// Optional: Props wie Titel oder Beschreibung setzen
const {
  title = 'KarriereKolleg – Dein Weg zum Erfolg',
  description = 'Alle Kollegs in der Steiermark auf einer Seite. Informiere dich über Ausbildungsformen, Vorteile und Möglichkeiten.',
  url = 'https://www.karrierekolleg.at',
  image = 'https://www.karrierekolleg.at/og-image.jpg',
} = Astro.props;

const bgStyle = `
background-image:
radial-gradient(ellipse at top right, #1b95cc44, transparent 90%),
linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)),
url('${import.meta.env.BASE_URL}images/background.svg');
background-size: cover;
background-attachment: scroll;
background-position: top center;
`;
---

<html lang="de">
  <head>
    <Head title={title} description={description} url={url} image={image} />

    <!-- Preload LCP Hero-Bild -->
    <link
      rel="preload"
      as="image"
      href={`${import.meta.env.BASE_URL}images/hero-images/woman@2x.webp`}
      type="image/webp"
      imagesrcset={`${import.meta.env.BASE_URL}images/hero-images/woman.webp 1x, ${import.meta.env.BASE_URL}images/hero-images/woman@2x.webp 2x`}
      imagesizes="(min-width: 1024px) 900px, 100vw"
    />

    <!-- Montserrat -->
    <link
        rel="preload"
        as="font"
        href={`${import.meta.env.BASE_URL}fonts/montserrat/Montserrat-Regular.woff2`}
        type="font/woff2"
        crossorigin
    />
    <link
        rel="preload"
        as="font"
        href={`${import.meta.env.BASE_URL}fonts/montserrat/Montserrat-Bold.woff2`}
        type="font/woff2"
        crossorigin
    />


  </head>
  <body class="text-gray-800 font-body antialiased">
    <!-- Gradient Background -->
    <div
      class="fixed inset-0 -z-20 bg-no-repeat bg-top bg-cover pointer-events-none"
      style={bgStyle}
      aria-hidden="true"
    >
    </div>

    <Header client:load />
    <main>
      <!--&lt;!&ndash; Globaler Glass-Overlay &ndash;&gt;-->
      <div class="fixed inset-0 z-0 pointer-events-none backdrop-glass" aria-hidden="true"></div>
      <slot />
    </main>
    <CustomCursor client:only="react" />
    <Footer client:idle />

    <script is:inline defer src="https://unpkg.com/tailwindcss-intersect@2.x.x/dist/observer.min.js"
    ></script>
  </body>
</html>
